.image-size{
    width: 100%;
    height: 100%;
}

.card-height{
    height: 350px;
}

.label_admin{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: serif;
}

.btn-login{
    width: 100%;
    border-radius: 28px;
    background-color: black;
    color: white;
}

.clckregister{
    cursor: pointer;
    color: red;
}