<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-5">
            <div class="card card-height">
                <div class="row">
                    <div class="col-md-6 card-height">
                        <img class="image-size" src="assets\Images/cover.jpg">
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-10">
                            <div class="row mt-4 mb-3">
                                <div class="col-md-12">
                                    <p class="label_admin">Sign into your Account</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input [(ngModel)]="username" type="email" required class="form-control"
                                            style="border-radius: 20px;" placeholder="Enter Username">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input [(ngModel)]="password" type="password" required class="form-control"
                                            style="border-radius: 20px;" placeholder="Enter password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="login()" mat-raised-button class="btn-login ">LOGIN</button>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label>Don't have a account?
                                        <span routerLink="/user/registeration" class="clckregister">Register
                                            here</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>