

.card-height{
border-radius: 20px;
}

.label_admin{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: serif;
}

.btn-register{
    width: 100%;
    border-radius: 28px;
    background-color: rgb(26, 84, 194);
    color: white;
}

.no-padding-left{
    padding-left: 0;
}

.reg-label{
    font-family: serif;
}