<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-5">
            <div class="card card-height">
                <div class="row container">
                    <div class="col-md-12">
                        <!-- <div class="col-md-10"> -->
                        <div class="row mt-4 mb-3">
                            <div class="col-md-12">
                                <p class="label_admin">REGISTER</p>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label class="mt-2 reg-label">EMAIL:</label>
                            </div>
                            <div class="col-md-6 no-padding-left">
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="strEmail" type="text" class="form-control"
                                        placeholder="Enter your Email ID">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label class="mt-2 reg-label">PHONE NUM:</label>
                            </div>
                            <div class="col-md-6 no-padding-left">
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="intPhNum" maxlength="12" appPhoneMask type="tel"
                                        class="form-control" placeholder="Enter your phone number">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label class="mt-2 reg-label">USERNAME:</label>
                            </div>
                            <div class="col-md-6 no-padding-left">
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="strUsername" type="text" class="form-control"
                                        placeholder="Enter your Username">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label class="mt-2 reg-label">PASSWORD:</label>
                            </div>
                            <div class="col-md-6 no-padding-left">
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="strPassword" type="text" class="form-control"
                                        placeholder="Enter your Password">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label class="mt-2 reg-label">CONFIRM PASSWORD:</label>
                            </div>
                            <div class="col-md-6 no-padding-left">
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="strConfirmPwsd" type="text" class="form-control"
                                        placeholder="Confirm password">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <button (click)="onClickRegister()" mat-raised-button
                                        class="btn-register ">REGISTER</button>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row mt-3">
                            <div class="col-md-12">
                                <label>Don't have a account?
                                    <span routerLink="/user/registeration" class="clckregister">Register
                                        here</span></label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-3"></div>
    </div>